@import 'utils';

/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('../fonts/S-Core-Dream-light/s-core-dream.css');

html {
  font-size: $fontSize;
  @include size640 {
    font-size: $fontSize - 4;
  }
  @include size540 {
    font-size: $fontSize - 7;
  }
  @include size480 {
    font-size: $fontSize - 9;
  }
  @include size360 {
    font-size: $fontSize - 13;
  }
}

body {
  height: 100%;
}

#camping {
  font-family: $font300, 'Roboto', 'Noto Sans KR', sans-serif !important;
  word-break: keep-all;
  line-height: 0;
  letter-spacing: -0.095em;
  color: #000;
  img {
    max-width: 100%;
  }
  a, button {
    outline: none;
    &:focus,
    &:hover {
      webkit-appearance: none;
    }
  }
  a {
    &:link,
    &:active,
    &:visited {
      //color: #000;
    }
  }
  * {
    outline: none;
    @include transition;
  }
}

.camping {
  &__wrap {
    max-width: 750px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    background: #60e1b5;
    position: relative;
  }
  &__footer {
    padding-bottom: rem(50);
    margin-top: rem(-43);
    .camping--goods & {
      background: #9ff0d4;
    }
    .camping--event & {
      background: #a0f6d9;
    }
  }
  &__floating {
    position: fixed;
    width: rem(268);
    right: 0;
    bottom: rem(25);
    z-index: 20;
  }
}

/* 캠핑 : 버튼 */
.button {
  &__close {
    display: inline-block;
    width: rem(86);
    height: rem(86);
    background-image: url('../images/pop_close.png');
    background-size: contain;
    font-size: 0;
  }

  &__back {
    display: inline-block;
    width: rem(40);
    height: rem(41);
    background: url('../images/icon_back.png') 50% 50% no-repeat;
    background-size: contain;
    font-size: 0 !important;
  }

  &__plus {
    width: rem(70);
    height: rem(70);
    border-radius: 100%;
    background: #005f3f url('../images/icon_plus.gif') 50% 50% no-repeat;
    background-size: rem(30);
    font-size: 0;
  }

  &__arrow {
    width: rem(70);
    height: rem(70);
    border-radius: 100%;
    background: #07a06b url('../images/icon_arrow.png') 50% 50% no-repeat;
    background-size: rem(42) rem(36);
    font-size: 0;
  }

  &__confirm {
    font-size: rem(36);
    color: #333 !important;
    line-height: 1.1;
    border-bottom: rem(3) solid rgba(51, 51, 51, 0.8);
  }

  &__image-pop {
    color: #333 !important;
    background: #90eba5;
    height: rem(100);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: rem(35);
    line-height: 1;
    padding: rem(1) rem(39) 0 rem(46);
    border-top-left-radius: rem(40);

    &:disabled {
      opacity: 0.7;
    }

    span {
      position: relative;
      padding-left: rem(4);
      padding-right: rem(84);

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
      }

      &::before {
        left: rem(4);
        bottom: rem(2);
        right: 0;
        height: rem(3);
        border-radius: rem(2);
        background: #333;
      }

      &::after {
        background: 50% 50% no-repeat;
        background-size: contain;
      }
    }

    &.type1 {
      span::after {
        right: 0;
        bottom: rem(25);
        width: rem(115);
        height: rem(107);
        background-image: url('../images/button_image_pop.png');
      }
    }

    &.type2 {
      span {
        padding-right: rem(72);

        &::after {
          right: rem(-10);
          bottom: rem(4);
          width: rem(106);
          height: rem(138);
          background-image: url('../images/button_image_pop2.png');
        }
      }
    }

    &.type3 {
      span {
        padding-right: rem(84);

        &::after {
          right: rem(-4);
          bottom: rem(17);
          width: rem(96);
          height: rem(96);
          background-image: url('../images/button_image_pop3.png');
        }
      }
    }

    &.type4 {
      span {
        padding-right: rem(84);

        &::after {
          right: rem(-4);
          bottom: rem(12);
          width: rem(120);
          height: rem(125);
          background-image: url('../images/button_image_pop4.png');
        }
      }
    }
  }

  &__image {
    position: relative;
    display: inline-flex;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 25%;
      height: 130%;
      background: 0 0 no-repeat;
      background-size: contain;
    }

    &.type1 {
      &::after {
        right: 7.69%;
        bottom: 45%;
        background-image: url('../images/event/btn_form_cha.png');
      }
    }

    &.type2 {
      &::after {
        right: 6.92%;
        bottom: 36.6%;
        background-image: url('../images/event/btn_my_cha.png');
      }
    }
  }

  &__save {
    display: block;
    margin: 0 auto;
    width: rem(280);
    height: rem(80);
    background: transparent url('../images/download/btn_save.png') 50% 50% no-repeat;
    background-size: contain;
    font-size: 0;
  }
}

/* 캠핑 : 공통 */
.camping__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(50) rem(40);
  a {
    display: flex;
    align-items: center;
    font-family: $font200;
    font-size: rem(35);
    padding: rem(2) rem(27) 0 rem(26);
    height: rem(60);
    border-radius: rem(30);
    color: #000;
  }
  ul {
    width: 89.5%;
    display: flex;
    justify-content: space-between;
  }
  li.active a {
    background: #fff;
    font-family: $font600;
  }
}

.custom__checkbox {
  margin: rem(37) 0 rem(58);
  text-align: center;
  label {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: left;
    margin-bottom: rem(18);
    span {
      padding-left: rem(74);
      display: block;
      line-height: 1.4;
      font-size: rem(30);
      color: #333;
      &::before, &::after {
        content: '';
        position: absolute;
      }
      &::before {
        width: rem(55);
        height: rem(55);
        background: #fff;
        border-radius: 100%;
        left: 0;
        top: rem(4);
      }
      &::after {
        width: rem(50);
        height: rem(39);
        background: url('../images/checkbox.png') 0 0 no-repeat;
        background-size: contain;
        left: rem(8);
        top: rem(2);
        opacity: 0;
      }
    }
    input:checked + span:before {
      background: #005f3f;
    }
    input:checked + span:after {
      opacity: 1;
    }
  }
  input[type='checkbox'] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  a {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: rem(30);
    border-bottom: 1px solid #000;
    margin-left: rem(3);
    z-index: 3;
    color: #333 !important;
  }

  @include size480 {
    label {
      span {
        letter-spacing: -0.07em;
      }
    }
    a {
      margin-left: rem(7);
    }
  }
}

.common__notice {
  padding: rem(92) rem(50) rem(90);
  background: #a0f6d9;
  line-height: 1.5;
  letter-spacing: -0.087em;
  color: #333;

  dt {
    font-size: rem(34);
    font-family: $font800;
    margin-bottom: rem(23);
  }

  dd {
    position: relative;
    font-size: rem(24);
    padding-left: rem(20);
    font-family: $font400;

    & + dd {
      margin-top: rem(8);
    }

    &::before {
      content: '';
      width: rem(4);
      height: rem(4);
      border-radius: 100%;
      background: #333;
      position: absolute;
      top: rem(16);
      left: rem(1);
    }
  }
}

.common__etc {
  margin-top: rem(42);
  line-height: 1.8;
  letter-spacing: -0.087em;

  dt {
    font-size: rem(30);
    font-family: $font200;
    margin-bottom: rem(9);
  }
  dd {
    position: relative;
    font-size: rem(20);
  }
}

.sr-links {
  border-top: 1px dotted #666;
  padding: rem(25);
  line-height: 1;
  a {
    display: inline-block;
    border: 1px solid #333;
    padding: rem(10) rem(10) rem(6);
  }
}

/* 홈 */
.home {
  &__timer {
    line-height: 1;
    margin: rem(-2) rem(55) rem(31) rem(50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #111;

    p {
      font-family: $font500;
      font-size: rem(34);
      letter-spacing: -0.01em;
      white-space: nowrap;
      word-break: keep-all;
    }

    em {
      font-family: $font900;
      font-size: rem(84);
      letter-spacing: -0.05em;
      white-space: nowrap;
    }
  }

  &__top {
    margin: 0 rem(40);

    a {
      display: block;
      box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
      border-radius: rem(40);
      overflow: hidden;
    }
  }

  &__banners {
    margin: rem(40) 0 0;

    .item {
      position: relative;
      display: inline-block;
      padding: 0 rem(40) 0 rem(15);

      * {
        outline: none;
      }

      a {
        position: relative;
        display: block;
        > div {
          box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
          border-radius: rem(40);
          overflow: hidden;
          -webkit-backface-visibility : hidden;
          -moz-backface-visibility : hidden;
          -webkit-transform : translate3d(0, 0, 0);
          -moz-transform : translate3d(0, 0, 0);
        }
      }

      .button__plus {
        position: absolute;
        right: rem(30);
        bottom: rem(-30);
        z-index: 2;
      }
    }

    .active .item {
      padding: 0 rem(15) 0 rem(40);
    }

    .owl-carousel {
      padding: 0 rem(195) 0 0;

      .owl-dots {
        margin: rem(30) 0 0 rem(40);
        text-align: left;
      }

      button.owl-dot {
        width: rem(20);
        height: rem(20);
        border-radius: 100%;
        background: #fff;
        opacity: 0.5;
        margin: 0 rem(20) 0 0;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__links {
    margin-top: rem(80);
    padding: 0 rem(25) rem(100);

    ul {
      display: flex;
    }

    li {
      flex: 1 0 0;
      padding: 0 rem(15);
    }

    a {
      display: block;
      background: #fff;
      border-radius: rem(30);
      box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }
  }
}

/* 소개 */
.info {
  &__top {
    position: relative;
    padding-bottom: rem(80);

    a {
      display: block;
      position: absolute;
      background: transparent;
      top: 48.3%;
      left: 5.6%;
      width: 32%;
      height: 11%;
      font-size: 0;
      z-index: 2;
    }
  }

  &__benefits,
  &__toon,
  &__qa {
    border-radius: rem(80) 0 0;
    overflow: hidden;
    margin-top: rem(-80);
  }

  &__benefits {
    position: relative;
    padding-bottom: rem(230);
    background: #fffbd4;

    a {
      display: block;
      background: url('../images/info/benefits_btn.png') 50% 50% no-repeat;
      background-size: contain;
      width: 86.6%;
      max-width: 650px;
      height: rem(170);
      margin: rem(-20) auto 0;
      font-size: 0;
      position: relative;
      z-index: 2;
    }
  }

  &__toon {
    background: #f4efa2;
    padding-bottom: rem(230);

    &-title {
      position: relative;
      margin-bottom: rem(21);

      span {
        position: absolute;
        left: 6.6%;
        bottom: 5.9%;
        width: 13%;
        height: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: rem(32);
        font-family: $font200;
        padding-top: 2px;
      }
    }

    &-list {
      position: relative;

      &.unActive {
        max-height: 0;
        overflow: hidden;
      }

      .button__arrow {
        position: absolute;
        right: rem(50);
        bottom: rem(-40);
        z-index: 10;
      }

      &::before {
        content: '';
        background: #90eba5;
        position: absolute;
        left: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        border-radius: rem(30);
        box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
      }

      &.last::before {
        left: rem(550);
      }
    }

    &-nav {
      margin: rem(80) 0 0;
      padding: 0 rem(39);

      ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      li {
        flex: 1 0 0;
        padding: 0 rem(11);

        &.disabled span {
          background: url('../images/info/nav_comming.png') 50% 50% no-repeat;
          background-size: contain;
          padding-top: 100%;
          i, img {
            display: none;
          }
        }
      }

      span {
        position: relative;
        display: block;
        border-radius: rem(20);
        overflow: hidden;
        padding-top: 0;

        &::before {
          content: '';
          border-radius: rem(20);
          opacity: 0;
          position: absolute;
          left: 0; top: 0; bottom: 0; right: 0;
          border: rem(5) solid #07a06b;
          z-index: 2;
        }
      }

      i {
        position: absolute;
        top: rem(10);
        left: rem(12);
        z-index: 2;
        font-size: rem(18);
        line-height: 1;
        font-style: normal;
        letter-spacing: -0.1em;
        color: #666;
      }

      li.active {
        span::before {
          opacity: 1;
        }
        i {
          font-family: $font800;
          color: #07a06b;
        }
      }
    }

    .item {
      display: inline-block;
      padding: 0 rem(50) 0 rem(10);
      position: relative;

      * {
        outline: none;
      }

      > div {
        overflow: hidden;
        border-radius: rem(30);
        box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
        -webkit-backface-visibility : hidden;
        -moz-backface-visibility : hidden;
        -webkit-transform : translate3d(0, 0, 0);
        -moz-transform : translate3d(0, 0, 0);
      }
    }

    .active {
      z-index: 10;
    }

    .active .item {
      padding: 0 rem(10) 0 rem(50);
      .button__arrow {
        opacity: 1;
      }
    }

    .owl-carousel {
      padding: 0 rem(210) 0 0;
      white-space: nowrap;

      .owl-stage {
        white-space: nowrap;
        display: flex;
        width: 100%;
      }

      .owl-item {
        width: 100%;
      }

      .owl-dots {
        margin: rem(30) 0 0 rem(40);
        text-align: left;
      }

      button.owl-dot {
        width: rem(20);
        height: rem(20);
        border-radius: 100%;
        background: #fff;
        opacity: 0.5;
        margin: 0 rem(20) 0 0;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__qa {
    padding-bottom: rem(100);

    .item {
      display: inline-block;
      position: relative;

      * {
        outline: none;
      }

      a {
        position: relative;
        display: block;

        > div {
          box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
          border-radius: rem(40);
          overflow: hidden;
        }
      }

      .button__plus {
        position: absolute;
        right: rem(30);
        bottom: rem(-30);
        z-index: 2;
      }
    }

    .owl-carousel {
      padding: 0;

      .owl-dots {
        margin: 0 0 0 rem(50);
        text-align: left;
      }

      button.owl-dot {
        width: rem(20);
        height: rem(20);
        border-radius: 100%;
        background: #fff;
        opacity: 0.5;
        margin: 0 rem(20) 0 0;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__notice {
    padding: rem(40) rem(40) rem(133) rem(50);
    line-height: 1.5;
    letter-spacing: -0.087em;
    color: #000;

    .notice-guide {
      & + dl {
        margin-top: rem(32);
      }

      dt {
        font-size: rem(35);
        font-family: $font500;
        margin-bottom: rem(14);
      }

      dd {
        position: relative;
        font-family: $font300;
        font-size: rem(27);
        padding-left: rem(22);

        & + dd {
          margin-top: rem(8);
        }

        &::before {
          content: '';
          width: rem(4);
          height: rem(4);
          border-radius: 100%;
          background: #333;
          position: absolute;
          top: rem(16);
          left: rem(1);
        }
      }
    }

    .office-info {
      font-size: rem(29);

      dt {
        font-family: $font500;
        margin-bottom: rem(9);
      }

      dd {
        font-family: $font300;
        text-indent: rem(-129);
        margin-left: rem(129);

        & + dd {
          margin-top: rem(-1);
        }
      }
    }
  }
}

/* 굿즈 */
.goods {
  &__top-slide {
    position: relative;
    margin-top: rem(-9);
    padding-bottom: rem(230);

    &-title {
      margin-bottom: rem(31);
    }

    .item {
      display: inline-block;
      padding: 0 0 0 rem(40);
      position: relative;

      * {
        outline: none;
      }
    }

    .shadow-box {
      border-radius: rem(40);
      box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
      overflow: hidden;
      position: relative;
    }

    .disabled .shadow-box {
      &::before, &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &::before {
        width: 100%;
        top: 0;
        background: #5bff81;
        z-index: 2;
      }
      &::after {
        width: 75%;
        height: 50%;
        background: url('../images/goods/top_disabled.png') 0 0 no-repeat;
        background-size: contain;
        z-index: 3;
      }
    }

    .button__plus {
      position: absolute;
      right: rem(30);
      bottom: rem(-30);
      z-index: 5;
    }

    .owl-carousel {
      padding: 0 rem(150) 0 0;

      .owl-dots {
        margin: rem(30) rem(40) 0;
        text-align: left;
      }

      button.owl-dot {
        width: rem(20);
        height: rem(20);
        border-radius: 100%;
        background: #fff;
        margin-right: rem(20);
        opacity: 0.5;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__banner {
    margin-top: rem(-80);
    background: #9ff0d4;
    border-radius: rem(80) 0 0;
    padding: rem(99) 0 rem(150);

    &-title {
      position: relative;

      a {
        background: transparent;
        position: absolute;
        top: 71.5%;
        left: 8%;
        width: 35.5%;
        height: 10.5%;
        font-size: 0;
      }
    }

    ul {
      margin: 0 0 0 6.666%;

      a {
        display: block;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: -18.66%;
          width: 25.35%;
          height: rem(160);
          background: 0 0 no-repeat;
          background-size: contain;
        }

        &.cha-type1::before {
          background-image: url('../images/goods/banner_chr1.png');
        }

        &.cha-type2::before {
          background-image: url('../images/goods/banner_chr2.png');
        }
      }

      li {
        position: relative;
        border-radius: rem(75) 0 0 rem(75);

        & + li {
          margin-top: rem(30);
        }

        &.disabled {
          &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
          }
          &::before {
            top: 0;
            right: 0;
            background: #5bff81;
            border-radius: rem(75) 0 0 rem(75);
            z-index: 2;
          }
          &::after {
            width: 50%;
            height: 120%;
            background: url('../images/goods/banner_disabled.png') 0 0 no-repeat;
            background-size: contain;
            z-index: 3;
          }

          a {
            overflow: hidden;
            border-radius: rem(75) 0 0 rem(75);

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* 이벤트 */
.event {
  &__main {
    padding: rem(30) 0 rem(150);
  }

  &__main-top {
    position: relative;
    margin: 0 rem(40);
    line-height: 1;

    .shadow-box {
      border-radius: rem(40);
      box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);
      background: #fff;
      overflow: hidden;
    }

    &-text {
      position: absolute;
      top: rem(80);
      left: rem(51);
      width: rem(371);

      em {
        display: block;
        font-family: $font200;
        font-size: rem(44);
        margin-top: rem(23);
        letter-spacing: -0.055em;
      }
    }

    .button__plus {
      position: absolute;
      z-index: 3;
      right: rem(30);
      bottom: rem(-30);
      width: rem(90);
      height: rem(90);
      background-image: url('../images/icon_plus2.gif');
      background-size: rem(40);
    }
  }

  &__main-banner {
    margin-top: rem(108);

    ul {
      margin: rem(46) 0 0 5.333%;
    }
  }

  &__info {
    padding: 0 6.66% rem(150);
  }

  &__info-buttons {
    margin-top: rem(100);
  }

  &__popup-buttons {
    display: flex;
    margin: 0 rem(10) rem(126);
    li {
      position: relative;
      flex: 1 0 0;
      & + li {
        margin-left: rem(30);
      }
    }
    .button__plus {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: rem(-30);
    }
  }
}

/* download */
.download {
  &__top {
    padding: rem(1) 0 rem(83);
  }
  &__list {
    padding: 0 rem(60) rem(150);
    ul {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    li {
      width: rem(290);
    }
    .button__save {
      margin-top: rem(21);
    }
    p {
      margin-top: rem(95);
      font-size: rem(28);
      line-height: 1.3;
      letter-spacing: -0.06em;
      white-space: nowrap;
    }
  }
}

/* 팝업 */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;

  &.opened {
    opacity: 1;
    z-index: 100;
  }

  &__box {
    position: relative;
    width: 89.33%;
    max-width: 670px;
    background: #fff;
    border-radius: rem(40);
    overflow: hidden;
    border: rem(8) solid #90eba5;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -webkit-transform : translate3d(0, 0, 0);
    -moz-transform : translate3d(0, 0, 0);

    .button__close {
      position: absolute;
      top: rem(14);
      right: rem(14);
      z-index: 5;
    }
  }

  &__title {
    margin-top: rem(-3);
    font-size: rem(40);
    font-family: $font800;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.018em;
  }

  &__contents {
    max-height: 65vh;
    margin: rem(92) rem(42) 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    line-height: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {width: 10px; display: none;}
  }

  &__buttons {
    margin: rem(50) rem(-8) rem(-8);
    text-align: right;
    ul {
      display: flex;
    }
    li {
      flex: 1 0 auto;
      & + li {
        margin-left: rem(20);
      }
    }
  }

  &-alert {
    .popup__box {
      width: 73.33%;
      max-width: 550px;
      padding: rem(93) 0 rem(60);
      border: none;

      .button__close {
        top: rem(22);
        right: rem(22);
      }
    }

    &.opened {
      z-index: 120;
    }

    &__msg {
      position: relative;
      font-size: rem(36);
      text-align: center;
      line-height: 1.35;
      letter-spacing: -0.07em;
      margin: 0;
      em {
        position: relative;
        z-index: 2;
      }

      span {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: rem(-2);
          bottom: rem(5);
          height: rem(20);
          background: #5bff81;
        }
      }
    }

    &__button {
      text-align: center;
      margin-top: rem(29);
    }
  }

  &-image {
    .popup__contents {
      background: #dcdcdc;
    }
  }

  &-privacy {
    .popup__buttons {
      margin-top: rem(44);
    }

    .text1 {
      margin-top: rem(13);
      margin-bottom: rem(41);
      font-size: rem(24);
      line-height: 1.5;
      text-align: center;
    }
    table {
      width: 100%;
      table-layout: fixed;
      & + table {
        margin-top: rem(30);
      }
    }
    th, td {
      font-size: rem(22);
      color: #666;
      border: 1px solid #d5d5d5;
      line-height: 1.5;
      vertical-align: middle;
      letter-spacing: -0.09em;
      font-family: $font300;
      font-weight: 400;
    }
    th {
      text-align: center;
      background: #eee;
      padding: rem(23) 0 rem(20);
    }
    td {
      padding: rem(17) rem(20) rem(15);
    }
    ul {
      margin-top: rem(14);
      font-size: rem(20);
      font-family: $font400;
      color: #666;
      line-height: 1.6;
    }
    li {
      position: relative;
      padding-left: rem(13);
      &::before {
        content: '*';
        position: absolute;
        left: 0;
        top: 0;
      }
      & + li {
        margin-top: rem(11);
      }
    }
  }

  &-complete {
    .popup__contents {
      padding: 0;
    }
    &__top {
      padding: rem(44) rem(40) rem(96);
      span {
        display: block;
        margin-top: rem(34);
        font-size: rem(24);
        line-height: 1.6;
      }
      .camping--event & {
        background: #2beec2;
      }
      .camping--goods & {
        background: #fdcf00;
      }
    }
    &__sns {
      margin-top: rem(63);
      padding: 0 rem(45);
      p {
        text-align: center;
        font-size: rem(24);
        line-height: 1.6;
      }
      ul {
        margin: rem(30) 0 rem(31);
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-my, &-form {
    .popup__box {
      width: 73.33%;
      max-width: 550px;
    }
  }

  &-my {
    &__info {
      margin-top: rem(45);
      border-top: 2px solid #000;

      li {
        display: flex;
        padding: rem(26) rem(18);
        border-bottom: 1px solid #d5d5d5;
        font-size: rem(28);
        font-family: $font300;
        color: #333;
        white-space: nowrap;
      }

      span {
        width: rem(173);
        color: #666;
        letter-spacing: -0.07em;
      }
    }

    &__text {
      position: relative;
      font-size: rem(24);
      line-height: 1.6;
      margin: rem(23) 0 rem(8);;
      padding-left: rem(15);

      &::before {
        content: '';
        width: rem(4);
        height: rem(4);
        border-radius: 100%;
        background: #333;
        position: absolute;
        top: rem(16);
        left: rem(1);
      }
    }
  }

  &-form {
    .popup__contents {
      padding-bottom: rem(22);
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url('../images/select.png') 100% 53% no-repeat;
      background-size: rem(49) auto;
    }
    select, input {
      font-family: $font300;
      font-size: rem(28);
      padding-left: rem(22);
      width: 100%;
      height: rem(80);
      line-height: rem(80);
      letter-spacing: -0.06em;
      border-radius: rem(10);
      border: 2px solid #666;
      background-color: #fff;
      color: #666;
      &::placeholder {
        color: #666;
      }
    }
    &__inputs {
      padding: rem(23) 0 0;
      li {
        margin-top: rem(20);
      }
      .label {
        display: block;
        font-family: $font500;
        font-size: rem(24);
        margin-bottom: rem(14);
        color: #ff5a00;
      }
    }
    dl {
      line-height: 1.5;
      letter-spacing: -0.11em;
      margin-top: rem(22);
    }
    dt {
      font-size: rem(28);
      margin-bottom: rem(10);
    }
    dd {
      font-size: rem(24);
      position: relative;
    }
  }

  &-info {
    .popup__box {
      border: none;
    }

    .popup__contents {
      margin: 0;
      max-height: 95vh;
    }

    .owl-carousel {
      .owl-dots {
        margin: rem(40) 0 rem(50);
        text-align: center;
      }

      button.owl-dot {
        width: rem(20);
        height: rem(20);
        border-radius: 100%;
        background: #d6d6d6;
        margin: 0 rem(20) 0 0;

        &.active {
          background: #60e1b5;
        }
      }
    }

    &__image {
      width: 100%;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }

    &__info {
      text-align: center;
      color: #333;
      letter-spacing: -0.12em;
    }
    &__title {
      margin-top: rem(2);
      font-size: rem(46);
      font-family: $font800;
      line-height: 1.4;
    }
    &__text {
      margin-top: rem(34);
      font-size: rem(30);
      line-height: 1.4;
      p {
        opacity: 0.8;
      }
      p + p {
        margin-top: rem(14);
      }
      .point1 {color: #16c287;}
      .point2 {color: #ff8181; margin-top: rem(35);}
    }
  }

  &-kakao {
    .popup__box {
      border: none;
    }

    .popup__contents {
      max-height: 95vh;
      margin: 0;
    }

    .popup__buttons {
      position: absolute;
      right: rem(-2);
      bottom: rem(-1);
      margin: 0;
      padding: 0;
      width: 85.5%;

      a {
        display: block;
        height: rem(174);
        background: url('../images/info/popup_kakao_btn.png') 50% 100% no-repeat;
        background-size: contain;
        z-index: 2;
        font-size: 0;
      }
    }
  }
}

/* owl 슬라이드 */
.owl-carousel {
  .owl-stage-outer {
    overflow: visible;
  }
}
